<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaoguoshun.mapper.ChannelMapper">
    <resultMap type="Channel" id="Channel">
        <id column="id" property="id"/>
        <result column="deleted_flag"  property="channelName"/>
        <result column="parent_id"  property="parentId"/>
        <result column="channel_img"  property="channelImg"/>
        <result column="summary"  property="summary"/>
        <result column="single"  property="single"/>
        <result column="url"  property="url"/>
        <result column="seo_title"  property="seoTitle"/>
        <result column="seo_keyword"  property="seoKeyword"/>
        <result column="seo_description"  property="seoDescription"/>
        <result column="content"  property="content"/>
        <result column="create_date"  property="createDate"/>
        <result column="create_user"  property="createUser"/>
        <result column="pos"  property="pos"/>
    </resultMap>

    <insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="Channel">

        insert into tb_channel (name,parent_id,channel_img,summary,single,url,seo_title,seo_keyword,seo_description,content,orderby,create_date,create_user,deleted_flag,pos)
        values (#{name},#{parentId},#{channelImg},#{summary},#{single},#{url},#{seoTitle},#{seoKeyword},#{seoDescription},
        #{content},#{orderby},now(),#{createUser},#{deletedFlag},#{pos})
	</insert>

    <sql id="channelSql">
        id,name,parent_id,channel_img,summary,single,create_user,create_date
    </sql>

    <select id="query" resultMap="Channel">
        select <include refid="channelSql"/> from tb_channel
        <include refid="ChannelFindCriteria"/>
    </select>

    <select id="count" resultType="int">
        select count(1) from tb_channel
        <include refid="ChannelFindCriteria"/>
    </select>

    <select id="detail" resultMap="Channel">
        select * from tb_channel
        <include refid="ChannelFindCriteria"/>
        limit 1
    </select>

    <delete id="delete">
        delete from tb_channel
        <include refid="ChannelFindCriteria" />
    </delete>
    <update id="update">
        update tb_channel
        <include refid="ChannelUpdateCriteria"/>
        <include refid="ChannelFindCriteria"/>
    </update>

    <sql id="ChannelFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
            <if test="channelImg != null and channelImg != ''">and channel_img = #{channelImg}</if>
            <if test="summary != null and summary != ''">and summary = #{summary}</if>
            <if test="single != null and single != ''">and single = #{single}</if>
            <if test="url != null and url != ''">and url = #{url}</if>
            <if test="seoTitle != null and seoTitle != ''">and seo_title = #{seoTitle}</if>
            <if test="seoKeyword != null and seoKeyword != ''">and seo_keyword = #{seoKeyword}</if>
            <if test="seoDescription != null and seoDescription != ''">and seo_description = #{seoDescription}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="createUser != null">and create_user = #{createUser}</if>
            <if test="pos != null and pos != ''">and pos = #{pos}</if>

        </where>
    </sql>
    <sql id="ChannelUpdateCriteria">
        <set>
            <if test="updateName != null and updateName != ''">name = #{updateName},</if>
            <if test="updateParentId != null">parent_id = #{updateParentId},</if>
            <if test="updateChannelImg != null and updateChannelImg != ''">channel_img = #{updateChannelImg},</if>
            <if test="updateSummary != null and updateSummary != ''">summary = #{updateSummary},</if>
            <if test="updateSingle != null and updateSingle != ''">single = #{updateSingle},</if>
            <if test="updateUrl != null and updateUrl != ''">url = #{updateUrl},</if>
            <if test="updateSeoTitle != null and updateSeoTitle != ''">seo_title = #{updateSeoTitle},</if>
            <if test="updateSeoKeyword != null and updateSeoKeyword != ''">seo_keyword = #{updateSeoKeyword},</if>
            <if test="updateSeoDescription != null and updateSeoDescription != ''">seo_description = #{updateSeoDescription},</if>
            <if test="updateContent != null and updateContent != ''">content = #{updateContent},</if>
            <if test="updateCreateDate != null">create_date = #{updateCreateDate},</if>
            <if test="updateCreateUser != null">create_user = #{updateCreateUser},</if>
            <if test="updatePos != null and updatePos != ''">pos = #{updatePos},</if>
        </set>
    </sql>
</mapper>
